* {
  font-family: Arial, Helvetica, sans-serif; }

body {
  margin: auto; }

header {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  top: 0;
  background-color: none; }
  header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: stretch;
    margin-left: 20%;
    overflow: hidden;
    background-color: none; }
  header li {
    display: flex;
    flex-direction: row; }
  header li a {
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 20px;
    background-color: none;
    margin: auto; }
  header .nav_logo {
    position: absolute;
    flex-direction: row;
    z-index: 1;
    top: 0px; }
