/*IMPORTS*/

@import './misc/animations';
@import './misc/mixins';
@import './misc/maps';
@import './partials/footer';
@import './partials/header';
@import './views/intro';
@import './views/quiensoy';
@import './views/contacto';
@import './views/galeria';
@import './views/productos';


/*COMIENZO INDEX*/

:root {
  $principal: white;
  $font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: auto;
}


/*FINAL INDEX*/

/*(INICIO) RESPONSIVE*/

@media screen and (min-width: 1001px){
  .intro{
    font-size: 18px;
    justify-content: center;
    width: none;
    align-items: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
  }

}

@media screen and (min-width: 360px) and (max-width: 556px){
  /*---RESPONSIVE INDEX---*/
  header{
    margin-top: 0%;

    ul{
      display: flex;
      flex-direction: column;
      margin: auto 0.2rem;
      padding-left: 10px;
      width: auto;
      align-items: center;
    }
    li{
      font-size: 12px;
      padding: 10px;
      margin: auto;
      justify-content: center;
      width: auto;
      align-items: center;
    }
    li a{
      font-size: 12px;
      padding: 10px;
      margin: auto;
    }
  }
  .intro{
    font-size: 10px;
    margin: auto;
    justify-content: center;
    width: none;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    padding-top: 20%;
    box-sizing: none;
  }
  .intro_logo{
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 25%;
  }
  .nav_logo{
    display: none;
    position: absolute;
    padding-right: 10%;
    margin: auto;
    width: auto;
    height: 20%;
    margin-top: 17%;
  }
  .footer_ul{
    display: flex;
    flex-direction: column;
  }
  .Formulario {
    width: auto;
   }
  .wrapper {
    width: auto;
  }

  section article h2 {
    font-size: 14px;
  }

/*---RESPONSIVE QUIEN SOY---*/

  .titulo_qs{
    font-size: 45px;
  }
  .box{
    font-size: 1rem;
  }
  .wrapper{
    font-size: 15px;
    width: auto;
    margin: 5%;
  }

  /*---RESPONSIVE PRODUCTOS---*/

  .titulo_qs{
    font-size: 45px;
  }
  .box_principal{
    font-size: 10px;
  }
  .box_productos{
    font-size: 9px;
    text-align: left;
  }
  .wrapper_productos{
    width: 100%;
    margin: 0 auto;
    grid-gap: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    grid-template-columns: repeat(6, 85px);
  }
  .aviso_productos a{
    font-size: 70%;
  }
  }

@media screen and (min-width:557px) and (max-width: 576px){
  header{
    margin-top: 0%;
  }
  nav{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  ul{
    margin: auto 0.2rem;
    padding-left: 10px;
    width: auto;
    align-items: center;
  }
  li{
    font-size: 10px;
    margin: auto;
    justify-content: center;
    width: auto;
    align-items: center;
  }
  .intro{
    font-size: 10px;
    margin: auto;
    justify-content: center;
    width: none;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    padding-top: 20%;
    box-sizing: none;
  }
  .intro_logo{
    margin: auto;
    width: none;
    height: auto;
    margin-top: 25%;
  }
  .nav_logo{
    display: none;
    position: absolute;
    padding-right: 10%;
    margin: 5%;
    width: 20%;
    height: 20%;
    margin-top: 7.5%;
  }
  .Formulario {
    width: auto;
   }
  .wrapper {
    width: auto;
  }
  section article h2 {
    font-size: 16px;
  }
  .container-fluid {
    margin-bottom: 15%;
  }

  /*---RESPONSIVE QUIEN SOY---*/

  .titulo_qs{
    font-size: 80px;
  }
  .box{
    font-size: 1rem;
  }
  .wrapper{
    font-size: 15px;
    width: auto;
    margin: 5%;
  }

 /*---RESPONSIVE PRODUCTOS---*/

 .titulo_qs{
  font-size: 45px;
}
.box_principal{
  font-size: 15px;
}
.box_productos{
  font-size: 12px;
}
.wrapper_productos{
  width: 100%;
  margin: 0 auto;
  grid-gap: 5px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  grid-template-columns: repeat(6, 130px);
}
.aviso_productos a{
  font-size: 90%;
}

  }

  @media screen and (min-width: 577px) and (max-width: 1000px){
    header{
      margin-top: 0%;
    }
    ul{
      font-size: 10px;
      margin: auto 0.2rem;
      padding-left: 10px;
      width: auto;
      align-items: center;
    }
    li{
      font-size: 10px;
      margin: auto;
      justify-content: center;
      width: auto;
      align-items: center;
    }
    .intro{
      font-size: 10px;
      margin: auto;
      justify-content: center;
      width: none;
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 10%;
    }
    .text_intro{
      font-size: 18px;
      margin: auto;
      justify-content: center;
      width: none;
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 10%;
    }
    .intro_logo{
      margin: auto;
      width: none;
      height: auto;
      margin-top: 20%;
    }
    .nav_logo{
      display: none;
      margin: auto;
      width: auto;
      height: 20%;
      margin-top: 5.2%;
    }
    .Formulario {
      width: auto;
     }
    .wrapper {
      width: auto;
    }
    .container-fluid {
      margin-bottom: 10%;
    }
  
    /*---RESPONSIVE QUIEN SOY---*/

  .titulo_qs{
    font-size: 80px;
  }
  .box{
    font-size: 1rem;
  }
  .wrapper{
    font-size: 15px;
    width: auto;
    margin: 5%;
  }

   /*---RESPONSIVE PRODUCTOS---*/

 .titulo_qs{
  font-size: 45px;
}
.box_principal{
  font-size: 18px;
}
.box_productos{
  font-size: 15px;
}
.wrapper_productos{
  width: 100%;
  margin: 0 auto;
  grid-gap: 5px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  grid-template-columns: repeat(6, 140px);
}
.aviso_productos a{
  font-size: 100%;
}

    }

/*(FINAL) RESPONSIVE*/
  
